<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logger</title>
    <link rel="stylesheet" href="styles.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <div class="alert" hidden>
        <span>
            User connected
        </span>
        <span id="alert__close">X</span>
    </div>
    <div class="controls">
        <input placeholder="Enter log file location" id="filepath" />
    </div>
    <div class="controls">
        <button id="control__start">Start</button>
        <button id="control__pause" disabled>Pause</button>
        <button id="control__stop"disabled>Stop</button>
    </div>
    <div class="logview">
        <div class="logs">

        </div>
        <p class="paused">------------------------------------ PAUSED ------------------------------------</p>
    </div>
    <script src="script.js"></script>
</body>
</html>